# Data Frames

### Import and Set Options

In [1]:
import pandas as pd
import numpy as np


# control the number of max row outputs
pd.options.display.max_rows = 10
# control precision of floating point numbers
# pd.set_option('display.precision', 2)
pd.options.display.float_format = '{:.3f}'.format

## Object Creation

In [2]:
# with periods 6, we will generate 6 date object starting from given input
dates_index = pd.date_range(start='20190220', periods=6)
sample_numpy = np.array(np.arange(24)).reshape((6,4))
series = pd.Series([1,3,5,np.nan,6,8])

sample_df = pd.DataFrame(sample_numpy, index=dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2019-02-20   0   1   2   3
2019-02-21   4   5   6   7
2019-02-22   8   9  10  11
2019-02-23  12  13  14  15
2019-02-24  16  17  18  19
2019-02-25  20  21  22  23

**Data Frame from Dictionary**

In [3]:
df_from_dictionary = pd.DataFrame({'float' : 1.,
                                   'time' : pd.Timestamp('20190220'),
                                   'series' : pd.Series(1, index=list(range(4)), dtype='float32'),
                                   'array' : np.array([3] * 4, dtype='int32'),
                                   'categories' : pd.Categorical(["test","train","taxes","tools"]),
                                   'dull' : 'boring data' })
df_from_dictionary

   float       time  series  array categories         dull
0  1.000 2019-02-20   1.000      3       test  boring data
1  1.000 2019-02-20   1.000      3      train  boring data
2  1.000 2019-02-20   1.000      3      taxes  boring data
3  1.000 2019-02-20   1.000      3      tools  boring data

In [4]:
df_from_dictionary.dtypes

float                float64
time          datetime64[ns]
series               float32
array                  int32
categories          category
dull                  object
dtype: object

**Data Intuition**

In [5]:
sample_df.head() # Default is 5 rows

             A   B   C   D
2019-02-20   0   1   2   3
2019-02-21   4   5   6   7
2019-02-22   8   9  10  11
2019-02-23  12  13  14  15
2019-02-24  16  17  18  19

In [6]:
sample_df.tail()

             A   B   C   D
2019-02-21   4   5   6   7
2019-02-22   8   9  10  11
2019-02-23  12  13  14  15
2019-02-24  16  17  18  19
2019-02-25  20  21  22  23

**Underlying Data**

In [7]:
sample_df.values  # returns a numpy array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [8]:
sample_df.index

DatetimeIndex(['2019-02-20', '2019-02-21', '2019-02-22', '2019-02-23',
               '2019-02-24', '2019-02-25'],
              dtype='datetime64[ns]', freq='D')

In [9]:
sample_df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

**Statistical Overview**

In [10]:
sample_df.describe()

           A      B      C      D
count  6.000  6.000  6.000  6.000
mean  10.000 11.000 12.000 13.000
std    7.483  7.483  7.483  7.483
min    0.000  1.000  2.000  3.000
25%    5.000  6.000  7.000  8.000
50%   10.000 11.000 12.000 13.000
75%   15.000 16.000 17.000 18.000
max   20.000 21.000 22.000 23.000

**Transpose**

In [11]:
sample_df.T

   2019-02-20  2019-02-21  2019-02-22  2019-02-23  2019-02-24  2019-02-25
A           0           4           8          12          16          20
B           1           5           9          13          17          21
C           2           6          10          14          18          22
D           3           7          11          15          19          23

**Sorting by Index**

In [12]:
# axis default is 0(rows), 1(columns)
sample_df.sort_index(axis=1, ascending=False)

             D   C   B   A
2019-02-20   3   2   1   0
2019-02-21   7   6   5   4
2019-02-22  11  10   9   8
2019-02-23  15  14  13  12
2019-02-24  19  18  17  16
2019-02-25  23  22  21  20

**Sorting by Values**

In [13]:
sample_df.sort_values(by='B', ascending=False)

             A   B   C   D
2019-02-25  20  21  22  23
2019-02-24  16  17  18  19
2019-02-23  12  13  14  15
2019-02-22   8   9  10  11
2019-02-21   4   5   6   7
2019-02-20   0   1   2   3

## Selection

While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, the pandas development team recommends the optimized pandas data access methods, .at, .iat, .loc and .iloc

There are two primary ways that pandas makes selections from a DataFrame.

- By Label
- By Integer Location

The documentation uses the term position for referring to integer location. Integer location is more descriptive and is exactly what .iloc stands for. The key word here is INTEGER - we must use integers when selecting by integer location.

- [] - Primarily selects subsets of columns, but can select rows as well. Cannot simultaneously select rows and columns.  
- .loc - selects subsets of rows and columns by label only  
- .iloc - selects subsets of rows and columns by integer location only  
- .at selects a single scalar value in the DataFrame by label only  
- .iat selects a single scalar value in the DataFrame by integer location only

### Select by Labels

**.loc - label based**  

Selects subsets of rows and columns by label only. Allows you to pass 1-D arrays as indexers. Arrays can be either slices (subsets) of the index or column, or they can be **boolean arrays** which are equal in length to the index or columns.

**when a scalar indexer is passed, loc can assign a new index or column value that didn't exist before.**

In [14]:
sample_df.loc[:,['A', 'B']]  # (idxs, cols)

             A   B
2019-02-20   0   1
2019-02-21   4   5
2019-02-22   8   9
2019-02-23  12  13
2019-02-24  16  17
2019-02-25  20  21

In [15]:
sample_df.loc['2019-02-20':'2019-02-23',['A','B']]

             A   B
2019-02-20   0   1
2019-02-21   4   5
2019-02-22   8   9
2019-02-23  12  13

In [16]:
sample_df.loc['2019-02-20',['D','B']]  # Notice the order of D and B

D    3
B    1
Name: 2019-02-20 00:00:00, dtype: int32

In [17]:
sample_df.loc['2019-02-20',['D','B']] [0] * 4    # Access the result D *4

12

In [18]:
sample_df.loc[sample_df.index[2], 'C']   # We can assign something to this variable

10

In [19]:
#label based, but we can use position values
#to get the labels from the index object

sample_df.loc[sample_df.index[1:3]]     # Retrieve the whole row

            A  B   C   D
2019-02-21  4  5   6   7
2019-02-22  8  9  10  11

In [ ]:
sample_df.loc[2]      # Error

**.at - label based**  

Works very similar to loc for scalar indexers. **Cannot operate on array indexers, can assign new indices and columns.**

Advantage over loc is that this is faster. Disadvantage is that you can't use arrays for indexers.

In [21]:
#label based, but we can use position values
#to get the labels from the index object
sample_df.at[sample_df.index[2], 'A']

8

### Select by Position(Integer)

**.iloc - position based**  

Similar to loc except with positions rather that index values. However, we **cannot assign new columns or indices.**

In [22]:
# position based, but we can get the position
# from the columns object via the `get_loc` method

sample_df.iloc[2, sample_df.columns.get_loc('B')]

9

In [23]:
sample_df.iloc[3]     # Retrieve row values

A    12
B    13
C    14
D    15
Name: 2019-02-23 00:00:00, dtype: int32

In [24]:
sample_df.iloc[2, 1]

9

In [25]:
sample_df.iloc[1:3, 2:4]   # row, col basis

             C   D
2019-02-21   6   7
2019-02-22  10  11

In [26]:
sample_df.iloc[[0,1,3], [0,2]]

             A   C
2019-02-20   0   2
2019-02-21   4   6
2019-02-23  12  14

In [27]:
sample_df.iloc[1:3, :]

            A  B   C   D
2019-02-21  4  5   6   7
2019-02-22  8  9  10  11

In [28]:
sample_df.iloc[:, 1:3]

             B   C
2019-02-20   1   2
2019-02-21   5   6
2019-02-22   9  10
2019-02-23  13  14
2019-02-24  17  18
2019-02-25  21  22

In [29]:
sample_df[:2:2]   # start:stop:step

            A  B  C  D
2019-02-20  0  1  2  3

**.iat - position based**  

Works similarly to iloc. **Cannot work in array indexers, cannot assign new indices and columns.**

Advantage over iloc is that this is faster.
Disadvantage is that you can't use arrays for indexers.

In [30]:
#position based, but we can get the position
#from the columns object via the `get_loc` method
sample_df.iat[2, sample_df.columns.get_loc('D')]

11

### Using Features

**Using Column Name**

[ ] - Primarily selects subsets of columns, but can select rows as well. **Cannot simultaneously select rows and columns.**

In [31]:
sample_df['C']  # Retrieve column with its index

2019-02-20     2
2019-02-21     6
2019-02-22    10
2019-02-23    14
2019-02-24    18
2019-02-25    22
Freq: D, Name: C, dtype: int32

In [ ]:
sample_df['B':'D']     # Error

In [33]:
# up to, but not including second index
sample_df[1:4]   # 1st, 2nd, 3th rows of df

             A   B   C   D
2019-02-21   4   5   6   7
2019-02-22   8   9  10  11
2019-02-23  12  13  14  15

In [34]:
# Last index included
sample_df['2019-02-20':'2019-02-23']   # 1st, 2nd, 3th, 4th rows of df

             A   B   C   D
2019-02-20   0   1   2   3
2019-02-21   4   5   6   7
2019-02-22   8   9  10  11
2019-02-23  12  13  14  15

In [35]:
sample_df[['B','D']]    # Select multiple labels

             B   D
2019-02-20   1   3
2019-02-21   5   7
2019-02-22   9  11
2019-02-23  13  15
2019-02-24  17  19
2019-02-25  21  23

In [ ]:
sample_df[1:4, 'D']     # Wont work. ERROR!

**Using .COL_NAME**

In [36]:
sample_df.C

2019-02-20     2
2019-02-21     6
2019-02-22    10
2019-02-23    14
2019-02-24    18
2019-02-25    22
Freq: D, Name: C, dtype: int32

In [37]:
sample_df.A

2019-02-20     0
2019-02-21     4
2019-02-22     8
2019-02-23    12
2019-02-24    16
2019-02-25    20
Freq: D, Name: A, dtype: int32

**Boolean Indexing**

In [38]:
sample_df.C >= 14

2019-02-20    False
2019-02-21    False
2019-02-22    False
2019-02-23     True
2019-02-24     True
2019-02-25     True
Freq: D, Name: C, dtype: bool

In [39]:
sample_df[sample_df.C >= 14]

             A   B   C   D
2019-02-23  12  13  14  15
2019-02-24  16  17  18  19
2019-02-25  20  21  22  23

In [40]:
sample_df.loc[sample_df.C >= 14]

             A   B   C   D
2019-02-23  12  13  14  15
2019-02-24  16  17  18  19
2019-02-25  20  21  22  23

**isin()**

Returns a boolean Series showing whether each element in the Series is exactly contained in the passed sequence of values.

In [41]:
sample_df_2 = sample_df.copy()
sample_df_2['Fruits'] = ['apple', 'orange','banana','strawberry','blueberry','pineapple']
sample_df_2

             A   B   C   D      Fruits
2019-02-20   0   1   2   3       apple
2019-02-21   4   5   6   7      orange
2019-02-22   8   9  10  11      banana
2019-02-23  12  13  14  15  strawberry
2019-02-24  16  17  18  19   blueberry
2019-02-25  20  21  22  23   pineapple

In [43]:
# Boolean mask with isin
sample_df_2.loc[sample_df_2['Fruits'].isin(['banana','pineapple', 'smoothy'])]

             A   B   C   D     Fruits
2019-02-22   8   9  10  11     banana
2019-02-25  20  21  22  23  pineapple

In [44]:
# Boolean mask with isin
sample_df_2[sample_df_2['Fruits'].isin(['banana','pineapple', 'smoothy'])]

             A   B   C   D     Fruits
2019-02-22   8   9  10  11     banana
2019-02-25  20  21  22  23  pineapple

In [45]:
# Boolean mask with isin
sample_df_2.loc[sample_df_2.loc[:,'Fruits'].isin(['banana','pineapple', 'smoothy'])]

             A   B   C   D     Fruits
2019-02-22   8   9  10  11     banana
2019-02-25  20  21  22  23  pineapple

## Missing Data

Pandas uses np.nan to represent missing data. By default, it is not included in computations.

In [46]:
sample_series = pd.Series([1,2,3,4,5,6], index=pd.date_range('20190220', periods=6))
sample_df_2['Extra Data'] = sample_series * 3 + 1

second_numpy_array = np.array(np.arange(len(sample_df_2))) * 100 + 7
sample_df_2['G'] = second_numpy_array

sample_df_2

             A   B   C   D      Fruits  Extra Data    G
2019-02-20   0   1   2   3       apple           4    7
2019-02-21   4   5   6   7      orange           7  107
2019-02-22   8   9  10  11      banana          10  207
2019-02-23  12  13  14  15  strawberry          13  307
2019-02-24  16  17  18  19   blueberry          16  407
2019-02-25  20  21  22  23   pineapple          19  507

In [47]:
browser_index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

browser_df = pd.DataFrame({
      'http_status': [200,200,404,404,301],
      'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
       index=browser_index)
browser_df

           http_status  response_time
Firefox            200          0.040
Chrome             200          0.020
Safari             404          0.070
IE10               404          0.080
Konqueror          301          1.000

Reindex creates a copy, not an overview

In [48]:
new_index= ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
browser_df_2 = browser_df.reindex(new_index)     # copy values is true by default
browser_df_2

               http_status  response_time
Safari             404.000          0.070
Iceweasel              nan            nan
Comodo Dragon          nan            nan
IE10               404.000          0.080
Chrome             200.000          0.020

In [49]:
# 'any' : If any NA values are present, drop that row or column.
# 'all' : If all values are NA, drop that row or column.
browser_df_2.dropna(how='any')

        http_status  response_time
Safari      404.000          0.070
IE10        404.000          0.080
Chrome      200.000          0.020

## Operations

In [50]:
# column mean
sample_df_2.mean()

A             10.000
B             11.000
C             12.000
D             13.000
Extra Data    11.500
G            257.000
dtype: float64

In [51]:
# row mean
sample_df_2.mean(axis=1)

2019-02-20     2.833
2019-02-21    22.667
2019-02-22    42.500
2019-02-23    62.333
2019-02-24    82.167
2019-02-25   102.000
Freq: D, dtype: float64

In [52]:
sample_df_2.apply(np.cumsum, axis=0)

,A,B,C,D,Fruits,Extra Data,G
2019-02-20,0,1,2,3,apple,4,7
2019-02-21,4,6,8,10,appleorange,11,114
2019-02-22,12,15,18,21,appleorangebanana,21,321
2019-02-23,24,28,32,36,appleorangebananastrawberry,34,628
2019-02-24,40,45,50,55,appleorangebananastrawberryblueberry,50,1035
2019-02-25,60,66,72,78,appleorangebananastrawberryblueberrypineapple,69,1542

## Merging DataFrames

In [54]:
pieces = [sample_df_2[:2], sample_df_2[2:4], sample_df_2[4:]]
pd.concat(pieces)

             A   B   C   D      Fruits  Extra Data    G
2019-02-20   0   1   2   3       apple           4    7
2019-02-21   4   5   6   7      orange           7  107
2019-02-22   8   9  10  11      banana          10  207
2019-02-23  12  13  14  15  strawberry          13  307
2019-02-24  16  17  18  19   blueberry          16  407
2019-02-25  20  21  22  23   pineapple          19  507

In [55]:
sample_df_2.append(sample_df_2.iloc[2])

             A   B   C   D      Fruits  Extra Data    G
2019-02-20   0   1   2   3       apple           4    7
2019-02-21   4   5   6   7      orange           7  107
2019-02-22   8   9  10  11      banana          10  207
2019-02-23  12  13  14  15  strawberry          13  307
2019-02-24  16  17  18  19   blueberry          16  407
2019-02-25  20  21  22  23   pineapple          19  507
2019-02-22   8   9  10  11      banana          10  207

In [56]:
sample_df_2.append(sample_df_2.iloc[:4])

             A   B   C   D      Fruits  Extra Data    G
2019-02-20   0   1   2   3       apple           4    7
2019-02-21   4   5   6   7      orange           7  107
2019-02-22   8   9  10  11      banana          10  207
2019-02-23  12  13  14  15  strawberry          13  307
2019-02-24  16  17  18  19   blueberry          16  407
2019-02-25  20  21  22  23   pineapple          19  507
2019-02-20   0   1   2   3       apple           4    7
2019-02-21   4   5   6   7      orange           7  107
2019-02-22   8   9  10  11      banana          10  207
2019-02-23  12  13  14  15  strawberry          13  307

**merge()**  

Merge DataFrame objects by performing a database-style join operation by columns or indexes.

If joining columns on columns, the DataFrame indexes will be ignored. Otherwise if joining indexes on indexes or indexes on a column or columns, the index will be passed on.

In [57]:
left = pd.DataFrame({'my_key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'my_key': ['K0', 'K1', 'K2', 'K3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})
left

  my_key   A   B
0     K0  A0  B0
1     K1  A1  B1
2     K2  A2  B2
3     K3  A3  B3

In [58]:
right

  my_key   C   D
0     K0  C0  D0
1     K1  C1  D1
2     K2  C2  D2
3     K3  C3  D3

In [59]:
pd.merge(left, right, on='my_key')

  my_key   A   B   C   D
0     K0  A0  B0  C0  D0
1     K1  A1  B1  C1  D1
2     K2  A2  B2  C2  D2
3     K3  A3  B3  C3  D3

## Grouping

In [60]:
employees_df = pd.read_excel('EmployeesWithGrades.xlsx', 'Sheet1', index_col=None, na_values=['NA'])
employees_df.head()

    Department     Name  YearsOfService Grade
0    Marketing     Able               4     a
1  Engineering    Baker               7     b
2   Accounting  Charlie              12     c
3    Marketing    Delta               1     d
4  Engineering     Echo              15     f

In [61]:
employees_df.groupby('Department').sum()

             YearsOfService
Department
Accounting               47
Engineering              60
Marketing                52

## Categorical Data

Categoricals are a pandas data type, which correspond to categorical variables in statistics: a variable, which can take
on only a limited, and usually fixed, number of possible values (categories; levels in R). Examples are gender, social
class, blood types, country affiliations, observation time or ratings via Likert scales.

In contrast to statistical categorical variables, categorical data might have an order (e.g. ‘strongly agree’ vs ‘agree’ or
‘first observation’ vs. ‘second observation’), but numerical operations (additions, divisions, ...) are not possible.

All values of categorical data are either in categories or np.nan. Order is defined by the order of categories, not lexical
order of the values.

In [62]:
employees_df["Grade"] = employees_df["Grade"].astype("category")

In [63]:
employees_df["Grade"].cat.categories = ["excellent", "good", "acceptable", "poor", "unacceptable"]

In [64]:
employees_df.groupby('Grade').count()

              Department  Name  YearsOfService
Grade
excellent              6     6               6
good                   5     5               5
acceptable             5     5               5
poor                   5     5               5
unacceptable           5     5               5